.timer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.field {
  width: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}

.field:not(:last-child):after {
  content: ':';
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: -10px;
}

.value {
  font-size: 36px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

.iziToast.iziToast-theme-dark.timerToast .iziToast-close {
  background-size: 13px;
  border: 1px solid #0000001f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
